html{
     scroll-behavior: smooth;
}
html body{
     margin: 0 !important;
}
.main{
     height: auto;
     font-size: 20px;
     font-family: 'Jost', sans-serif;
}
.header{
     padding: 1.6em 2em;
     background-color: #C7E7E4;
     height: 80vh;
     border-bottom-left-radius:60px ;
     border-bottom-right-radius:60px ;

}
.header .navitems{
     display: flex;
     justify-content: space-around;
}
.navitems .logo{
     margin-left: -4em;
}
.navitems .list ul li a {
     text-decoration: none;
     color: rgb(5, 5, 5);
     font-size: 1.3em;
     font-weight: 500;
}
.navitems .list ul li{
     padding-right: 2.5em;
}
.navitems .list ul{
     display: flex;
     list-style: none;
}

.topsection{
     padding: 1em 2em;
     display: flex;
     justify-content: space-evenly;
}
.topsection .head{
     padding: 4em 0em;
}
.topsection .head span{
     font-size: 5em;
     color: #FF196C;
}
.topsection .head p{
     font-size: 5em;
     color: black;
     margin: 0em;
}
.topsection .head button{
     cursor: pointer;
     margin-top: 2em;
     font-size: 1em;
     padding: 1em 3em;
     background-color: #FFCB00;
     border-radius: 20px;
     border-style: none;
     font-family: 'Jost', sans-serif;
     font-weight: bold;

}
.section{
     height: 30vh;
}
.aboutagira{
     margin: -7em;
     margin-right: 4em;
     margin-left: 4em;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 3em;
}
.aboutagira .aboutagiracard{
     padding: 3em 2em;
     text-align: justify;
}
.aboutagira .aboutagiracard h2{
     margin: 0;
}
.aboutagira .welfare{
     background-color:#FF6F4E ;
}
.aboutagira .balance{
     background-color:#45B1A9 ;
} 
.aboutagira .work{
     background-color: #FF196C;
}

.jobsearch{
     padding: 1em;
}
.jobsearch .search{
     /* background-color: #45B1A9; */
     display: grid;
     grid-template-columns:repeat(2,1fr);
     gap: 30px;
     margin: 2em;
     margin-bottom: 0em !important;
     border-style: none;
     border-radius: 10px;
}
.jobsearch .search .innersearch{
     padding-top: 8em;
     padding-left: 6em;
}
.jobsearch .search input{
     font-size: 1em;
     background-color: #C7E7E4;
     width: 75%;
     padding: 1em ;
     border-style: none;
     border-radius: 10px;
     font-family: 'Jost', sans-serif;
}
.jobsearch .search button{
     cursor: pointer;
     font-size: 1em;
     padding: 1em ;
     background-color: #FFCB00;
     border-radius: 10px;
     border-style: none;
}

.phrase{
     font-size: 3em;
     font-weight: 700;
     text-align: left;
     padding-left: 0.3em;
}

.jobopenings{
     padding: 3em;
     padding-top: 0em !important;
     display: grid;
     grid-template-columns: repeat(3,1fr);
     gap: 3em;
}
.job{
     padding: 1em;
     background-color: #F5FEFD;
}
.job button{
     float: right;
     cursor: pointer;
     font-size: 0.8em;
     padding: 0.6em 1em ;
     background-color: #FFCB00;
     border-radius: 10px;
     border-style: none;
}
.fa-quote-left{
     color: #fdfdfd;
     padding-right: 10px;
}

.fa-connectdevelop{
     padding-right: 10px;
}
.morejob{
     text-align: center;
     padding: 2em;
}
.morejob button{
     cursor: pointer;
     margin-top: 2em;
     font-size: 1em;
     padding: 1em 3em;
     background-color: #FFCB00;
     border-radius: 20px;
     border-style: none;
}
.btn{
     background-color: #FFCB00;
     border-style: none;
     padding: 10px;
}

.footer{
     display: flex;
     justify-content: space-between;
     background-color: #45B1A9;
     border-top-left-radius: 50px;
     border-top-right-radius: 50px;
}
.footer p{
     color: #fff;
     padding: 1em 3em ;
}
.footer .socialicons{
     color: #fff;
     font-size: 1.5em;
     padding: 1em 10em;
}
.footer .socialicons i{
     padding-right: 20px;
}

.topsection .head .animate-txt span{
    display: inline-block;
    display: none;
}
.topsection .head .animate-txt span.text-in{
     display: block;
     animation: textIn 1.5s ease-in-out;
}
@keyframes textIn{
     0%{
          transform: translateY(40%);
     }
     100%{
          transform: translateY(0%);
     }
}

.image img{
     animation: slide 1.5s ease-in-out;
}
@keyframes slide{
     0%{
          transform: translateX(100%);
     }
     100%{
          transform: translateX(0%);
     }
}
.head{
     animation: headslide 1.5s ease-in-out;
}
@keyframes headslide{
     0%{
          transform: translateX(-80%);
     }
     100%{
          transform: translateX(0%);
     }
}

/* Carousel */
.container {
     margin-top: -6em;
     width: 100%;
     overflow: hidden;
     position: relative;
 }
 
     .items {
         display: flex;
         align-items: center;
         width: fit-content;
         animation: carouselAnim 60s infinite alternate linear;
     }
 
         .entry {
          color: #fff;
          text-align: justify;
             display: flex;
             align-items: center;
             flex-direction: column;
             position: relative;
             width: 300px;            
             margin: 1em;
             padding: 1em;
             border-radius: 10px;
             box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.05);
         }
 
             
             
             @keyframes carouselAnim {
                 from {
                     transform: translate(0,0);
                 }
                 to {
                     transform: translate(calc(-100% + (5*300px)));
                 }
             }
 
             @media screen and (min-device-width: 320px)
             and (max-device-width: 480px) {   
                .items {
             animation: carouselAnim 30s infinite alternate linear;
         }
         .entry{
           width: 200px;
         }
 
         @keyframes carouselAnim {
             from {
                 transform: translate(0,0);
             }
             to {
                 transform: translate(calc(-100% + (2*300px)));
             }
         }
     }
 
     .faders {
         width: 100%;
         position: absolute;
         height: 100%;
     }
 
         .faders .left, .right {
             background: linear-gradient(to right, rgba(245,245,245,1) 0%,rgba(255,255,255,0) 100%);
             width: 20%;
             height: 100%;
             position: absolute;
             z-index: 200;
         }
 
         .faders .right {
             right: 0;
             background: linear-gradient(to left, rgba(245,245,245,1) 0%,rgba(255,255,255,0) 100%);
         }


         /* media query for mobile device */
     
@media screen and (min-device-width: 320px)
and (max-device-width: 480px) {
     .main{
          font-size: 10px;
     }
   
     .topsection{
          flex-direction: column;
     }
     .header{
          border-radius: 0px;
     }
     
     .image img{
          width: 318px;
          height: 295px;
     }
     .aboutagira{
          grid-template-columns: repeat(1,1fr);
     }
     .jobsearch .search{
          grid-template-columns: repeat(1,1fr);
          gap: 0px;
     }
     .phrase{
          margin-top: -55px;
     }
     .jobsearch .search .innersearch{
          padding: 0px;
          margin-bottom: 20px;
     }
     .jobopenings{
          grid-template-columns: repeat(1,1fr);
          gap: 1em;
          padding-bottom: 0em;
     }
     .morejob{
          padding-top: 0em;
     }
     
     .jobsearch .search input {
          width: 77%;
     }
     .jobsearch {
          padding-top: 0px;
          margin-top: -3em;
     }
     .footer{
          border-radius: 0px;
     }
     .footer .socialicons i {
          padding-right: 3px;
      }
     .logo img{
          width: 97px;
          padding-left: 20px;
     }
     .footer .socialicons{
          padding: 0em;
          padding-top:18px ;
          padding-right: 7px;
     }
     .footer p {
          padding: 1em 1em;
     }
     
}

/* media query for tablet/ipad */
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {

     .jobopenings{
          grid-template-columns: repeat(2,1fr);
     }
     .topsection{
          flex-direction: column;
     }
     .header{
          height: 120vh;
     }
     .navitems .logo img{
          padding-left: 40px ;
     }
     .jobsearch .search .innersearch{
          padding: 0 0 10px 0;
     }
     .phrase{
          margin-top: 0;
          margin-bottom: 0px;
     }
     .jobsearch .search{
          grid-template-columns: repeat(1,1fr);
     }
     .morejob button {
          margin-top: 0em;
     }
     .footer{
          border-radius: 0px;
     }

.footer p {
     padding: 1em 2em;
 }
     .footer .socialicons {
          padding: 1em .5em 1em 0em;
     }
     .footer .socialicons i{
          padding-right: 3px;
     }
}







