html body{
     margin: 0;
}
.container{
     font-size: 20px;
     font-family: 'Jost', sans-serif;
}
.header{
     padding: 0.6em 0em;
     background-color: #45B1A9;
}

.header .navitems{
     display: flex;
     justify-content: space-around;
}
.navitems .logo{
     margin-left: -4em;
}
.navitems .list ul li a {
     text-decoration: none;
     color: #fff;
     font-size: 1.3em;
     font-weight: 500;
}
.navitems .list ul li{
     padding-right: 2.5em;
}
.navitems .list ul{
     display: flex;
     list-style: none;
}

.searchfield{
     margin-top: 5px;
     background-color: #C7E7E4;
     padding: 1em;
}
.search input,button{
     padding: 1em;
     border-radius: 10px;
     border-style: none;
     font-family: 'Jost', sans-serif;
}
.search input{
     width: 68%;
}
.search button{
     background-color:#FFCB00 ;
     font-weight: bold;
}
.dataitems{
     display: flex;
}
.joblists{
     width: 25%;
}
.jobdescription{
     height: auto;
}
.job{
     padding: 1em;
     margin: 1em 0em;
     background-color: #C7E7E4;
}
.job span{
     color: #45B1A9;
     font-weight: bold;
}
.job h6{
     margin: 0;
     font-size: 0.8em;
     font-weight: 500;
}
.job h2{
     margin: 0.2em 0em;
}
.listofjobs{
     height: 100vh;
     overflow: auto;
}
.jobdescription{
     width: 70vw;
     margin-top: 3em;
     margin-bottom: 2em;
     margin-left: 3em;
     margin-right: 3em;
     padding: 2em;
     padding-bottom: 0em;
     border: 1px solid #45B1A9;
     border-radius: 10px;
     text-align: justify;
}
.topheader{
     display: flex;
     justify-content: space-between;
}
.actionbuttons{
     padding: 2em;
}
.actionbuttons button{
     background-color: #FFCB00;
     font-family: 'Jost', sans-serif;
     font-weight: 600;
     font-size: 0.8em;
     cursor: pointer;
}
.footer{
     display: flex;
     justify-content: space-between;
     background-color: #45B1A9;
     
}
.footer p{
     color: #fff;
     padding: 1em 3em ;
}
.footer .socialicons{
     color: #fff;
     font-size: 1.5em;
     padding: 1em 10em;
}
.footer .socialicons i{
     padding-right: 20px;
}
.fa-connectdevelop{
     padding-right: 10px;
}

/* media query for mobile devices  */

@media screen and (min-device-width: 320px)
and (max-device-width: 480px){ 
.container{
     font-size: 10px;
     font-family: 'Jost', sans-serif;
}
.logo img{
     width: 97px;
}
.navitems .logo {
     margin-left: 0em;
 }
 .dataitems {
     flex-direction: column;
 }
 .joblists {
     width: auto;
     margin: 0 1em;
     
 }
 .listofjobs{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     gap: 1em;
 }
 .job{
     margin: 0em;
 }
 .searchfield{
     margin-bottom: 1em;
 }
 .actionbuttons{
     padding: 0;
     padding-top: 1em;
 }
 .jobdescription{
     margin: 1em;
     width: 84vw;
 }
 .footer{
     border-radius: 0px;
}
.footer .socialicons i {
     padding-right: 3px;
 }
.logo img{
     width: 97px;
     padding-left: 20px;
}
.footer .socialicons{
     padding: 0em;
     padding-top:18px ;
     padding-right: 7px;
}
.footer p {
     padding: 1em 1em;
}
}

/* media query for tablet/ipad */

@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
     .logo img{
          padding-left: 50px;
     }
     .search input, button {
          padding: 0.5em;
     }
     .search input {
          width: 60%;
      }
.listofjobs {
     height: 152vh;
}
.joblists {
     width: 36%;
 }
.jobdescription{
     margin: 1em;
     padding: 1em;
}
.actionbuttons {
     padding: 1.5em 0em;
 }
     .footer{
          border-radius: 0px;
     }

.footer p {
     padding: 1em 2em;
 }
     .footer .socialicons {
          padding: 1em .5em 1em 0em;
     }
     .footer .socialicons i{
          padding-right: 3px;
     }
}
