html body{
     margin: 0;
}
.header{
     padding: 0.6em 0em;
     background-color: #45B1A9;
     font-family: 'Jost', sans-serif;
}

.header .navitems{
     display: flex;
     justify-content: space-around;
}
.navitems .logo{
     margin-left: -4em;
}
.navitems .list ul li a {
     text-decoration: none;
     color: #fff;
     font-size: 1.3em;
     font-weight: 500;
}
.navitems .list ul li{
     padding-right: 2.5em;
}
.navitems .list ul{
     display: flex;
     list-style: none;
}

.container{
     display: flex;
     background-color: #fff;
     font-size: 20px;
     margin: 7% 5% ;
     border-radius: 20px;
     border-style: none;
     font-family: 'Jost', sans-serif;
     position: relative;
     -webkit-box-shadow: -2px 3px 65px -3px rgba(69,177,169,0.85);
     -moz-box-shadow: -2px 3px 65px -3px rgba(69,177,169,0.85);
     box-shadow: -2px 3px 65px -3px rgba(69,177,169,0.85);

}

.image{
     width: 50%;
}
.image img{
     padding: 1em;
}
form{
     padding-left: 10%;
}
.referralform{
     width: 65%;
     height: 100%;
     padding: 2em;
     right: 3%;
     top: -42px;
     background-color: #C7E7E4;
     position: absolute;
     display: grid;
     grid-template-columns: repeat(2,1fr);
     gap: 10px;
     /* -webkit-box-shadow: -2px 3px 65px -3px rgba(69,177,169,0.85);
-moz-box-shadow: -2px 3px 65px -3px rgba(69,177,169,0.85);
box-shadow: -2px 3px 65px -3px rgba(69,177,169,0.85); */
}
.referralform h2{
     margin: 0;
     margin-bottom: 10%;
}
.referralform input{
     font-size: 1em;
     border-style: none;
     border-radius: 5px;
     margin: 20px 0;
     padding: .5em 0em .5em .5em;
     font-family: 'Jost', sans-serif;

}
table td{
     padding-left: 20px;
}
.fa-upload{
     background-color: #fff;
     padding: 13px;
     border-style: none;
     border-radius: 5px;
     cursor: pointer;
}
.actionbtns button{
     cursor: pointer;
     font-size: 1em;
     padding: .5em 1em ;
     background-color: #FFCB00;
     border-radius: 10px;
     border-style: none;
     font-family: 'Jost', sans-serif;
     font-weight: bold;
}
.actionbtns button a{
     text-decoration: none;
     color: black;
}
.actionbtns{
     position: absolute;
     bottom: 0;
     right: 0;
}
.referredbyform{
     position: relative;
}
@media screen and (min-device-width: 320px)
and (max-device-width: 480px){
.container{
     flex-direction: column;
     margin: 5em 1em;
     font-size: 12px;
     position: static !important;
     box-shadow: none;
}
.referralform h2{
     margin: 0;
}
.header{
     font-size: 10px;
}
.referralform{
     position: static;
     grid-template-columns: repeat(1, 1fr);

     width: auto;
}
.image img{
     display: none;
}
.logo img{
     width: 60%;
     padding-left: 50px;
}
.actionbtns{
     position: static;
     text-align: center;
    margin-top: 20px;
}
form{
     padding-left: 0%;
}
.fa-upload {
     padding: 9px;
}
}

@media screen and (min-device-width: 768px)
and (max-device-width: 1024px){
     .container{
          margin: 25% 2%;
          font-size: 18px;
          height: 50vh;
     }
     .image img{
          width: 75%;
          margin-top: 19%;
          padding: 1em 0em;
     }
     form{
          padding-left: 0%;
     }
     .referralform{
          height: auto;
          width: 57%;
          right: 0%;
          top: -28%;
          grid-template-columns: repeat(1, 1fr);
     }
     .referralform h2{
          margin: 0;
     }
     table td{
          padding-left: 10px;
     }
     .actionbtns{
          position: static;
          text-align: center;
          margin-top: 20px;
     }
}


